$colorPrimario: #000;
$colorSecundario: #dad5d5;
$colorAcentos: #11bfbf;
$colorAcento2: #7d7d7d;
$fondoPrincipal: #FFF;
$fuente:"Montserrat";

$fP: ("regular":400, "medium":500, "bold":800);
$fS:("xxl":32px, "xl":26px, "l":22px, "m":18px, "s":16px);
$tiempoCorto:0.4s;
$tiempoMedio:0.7s;
$tiempoLargo:1.5s;
@use "sass:math" as math;

@function peso($peso) {
    /*funcion que determina el peso de las fuentes se pasa por parametro regular, medium o bold y reemplaza por el valor asigando arriba*/
    @return map-get($fP, $peso);
}

/* funcion que determina el tamaño de la fuente entre s m l xl y xxl*/
@function size($size) {
    @return map-get($fS, $size);
}


@mixin fxc($dir, $wrap) {
    display: flex;

    @if $dir==col {
        flex-direction: column;
    }

    @else {
        flex-direction: row;
    }

    @if $wrap==1 {
        flex-wrap: wrap;
    }

    @else {
        flex-wrap: nowrap;
    }

    justify-content: center;
    align-items: center;
}

@mixin fxd($dir, $wrap) {
    display: flex;

    @if $dir==col {
        flex-direction: column;
        align-items: flex-end;
    }

    @else {
        flex-direction: row;
        justify-content: right;
    }

    @if $wrap==1 {
        flex-wrap: wrap;
    }

    @else {
        flex-wrap: nowrap;
    }
}

@mixin fxi($dir, $wrap) {
    display: flex;

    @if $dir==col {
        flex-direction: column;
        align-0items: flex-start;
    }

    @else {
        flex-direction: row;
        justify-content: left;
    }

    @if $wrap==1 {
        flex-wrap: wrap;
    }

    @else {
        flex-wrap: nowrap;
    }
}

@mixin xl {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin l {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin md {
    @media (max-width:992px) {
        @content;
    }
}

@mixin s {
    @media (max-width:768px) {
        @content;
    }
}

@mixin xs {
    @media (max-width:576px) {
        @content;
    }
}

@function set_color($color) {
    @if (lightness($color)>60) {
        @return darken($color, 80%);
    }

    @else {
        @return lighten($color, 80%);
    }
}

/*                                   MARGIN                           */
@mixin m ($m) {
    @if ($m==a) {
        .m_#{$m} {
            margin: auto;
        }
    }

    @else {
        m_#{$m} {
            margin: $m*1px;
        }
    }
}

@mixin mx ($m) {
    @if ($m==a) {
        .mx_#{$m} {
            margin: auto;
        }
    }

    @else {
        .mx_#{$m} {
            margin: $m*1px;
        }
    }
}

@mixin my ($m) {
    @if ($m==a) {
        .my_#{$m} {
            margin: auto;
        }
    }

    @else {
        .my_#{$m} {
            margin: $m*1px;
        }
    }
}

/*                                               PADDING                                */
@mixin p ($m) {
    @if ($m==a) {
        .p_#{$m} {
            padding: auto;
        }
    }

    @else {
        .p_#{$m} {
            padding: $m*1px;
        }
    }
}

@mixin px ($m) {
    @if ($m==a) {
        .px_#{$m} {
            padding: auto;
        }
    }

    @else {
        .px_#{$m} {
            padding: $m*1px;
        }
    }
}

@mixin py ($m) {
    @if ($m==a) {
        .py_#{$m} {
            padding: auto;
        }
    }

    @else {
        .py_#{$m} {
            padding: $m*1px;
        }
    }
}