@import 'variable';
@import 'componentes';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gotham';

}

body {
    display: flex;
    flex-direction: column
}

header {
    @include fxc(col, 1);


}

@include btn_outline(negro, $colorPrimario, 0.1, $colorPrimario) {
    margin: 15px;
}

@include btn_outline(rojo, red, 0.1, $colorPrimario);
@include p(a);
@include btne_outline(naranja, $colorPrimario, $colorAcentos, 2px);
// parametros hamburguesa $bcolor, $fcolor, $bMnu, $direccion, $borderTk, $ancho, $pyItem, $pxitem, $marginItem, $fontsize
@include hamburguesa($fondoPrincipal, $colorAcentos, $colorSecundario, i, 4px, 25vw, 0.5rem, 1rem, 3px, m);
@include drop(home, $fondoPrincipal, $colorAcentos, $colorSecundario, l, 4px, a, 0.5rem, 1rem, 5px, m);
@include drop(otro, $fondoPrincipal, $colorAcentos, $colorSecundario, c, 4px, 70%, 0.5rem, 1rem, 5px, m);
@include btne_outline(sbm, $colorPrimario, $colorAcentos, 2px);
@include card(uno, $colorSecundario, 3px, orange, l, $colorAcentos, 20vw);
@include lcard(uno, $colorSecundario, 3px, orange, l, $colorAcentos, 40vw);