@import 'variable';
@import 'componentes';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    @include fxc(col, 1);


}

@include btn_outline(negro, $colorPrimario, 0.1, $colorPrimario) {
    margin: 15px;
}

@include btn_outline(rojo, red, 0.1, $colorPrimario);
@include p(a);
@include btn_solid(naranja, 0.1, $colorPrimario);
@include hamburguesa(black, red, gray, i, 4px,30vw,1rem);